* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: lightgrey;
    color: black;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: black;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

#about {
    padding: 20px 0;
    background: white;
    text-align: center;
}

#about img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

#about .bio {
    max-width: 600px;
    margin: auto;
}

#skills {
    padding: 20px 0;
    background: lightgrey;
    text-align: center;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills li {
    display: inline-block;
    padding: 10px;
    background: black;
    color: white;
    margin: 5px;
}

#projects {
    padding: 20px 0;
    background: white;
    text-align: center;
}

#projects .project {
    max-width: 600px;
    margin: auto
}

#projects img {
    width: 350px;
    height: auto;
}

#resume {
    padding: 20px 0;
    background: lightgrey;
    text-align: center;
}

#resume a {
    display: inline-block;
    padding: 10px 20px;
    background: black;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

#contact {
    padding: 20px 0;
    background: white;
    text-align: center;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
